[package]
name = "flowistry"
version = "0.3.19"
edition = "2021"
authors = ["Will Crichton <wcrichto@cs.stanford.edu>"]
description = "Powerful IDE tools for Rust"
repository = "https://github.com/willcrichton/flowistry"
license = "MIT"

[package.metadata.rust-analyzer]
rustc_private = true

[dependencies]
anyhow = "1"
log = "0.4"
fluid-let = "1.0"
lazy_static = "1.4"
html-escape = "0.2.9"
tempfile = "3.2"



