body {
  font-size: 16px;
  padding-top: 20px;
}

code {
  color: black;
  font-family: Menlo, monospace;
}

li.slice-category {
  margin-bottom: 1rem;
}

li.slice-link {
  cursor: pointer;

  &.selected {
    background: rgb(255, 249, 172);
  }
}
