$light: ".vscode-light";
$dark: ".vscode-dark";

body {
  font-size: 16px;
}

h1 {
  font-size: 1.5rem;
}

code {
  font-family: Menlo, Monaco, monospace;
}

li.slice-category {
  margin-bottom: 1rem;
}

li.slice-link {
  cursor: pointer;

  #{$light} &.selected {
    background: rgb(255, 249, 172);
  }

  #{$dark} &.selected {
    background: rgb(105, 76, 32);
  }
}
