name: Tests

on:
  push:
    tags-ignore:
      - "v*"
  pull_request:

jobs:
  test:
    runs-on: ubuntu-20.04
    env:
      # The proxy server for install tests uses a self-signed certificate
      # This allows requests to the proxy by disabling certificate validation
      NODE_TLS_REJECT_UNAUTHORIZED: 0

    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/cargo@v1
        with:
          command: build
      - run: zip x86_64-unknown-linux-gnu.zip cargo-flowistry* flowistry-driver*
        working-directory: target/debug
      - uses: actions-rs/cargo@v1
        with:
          command: test
      - run: npm ci
        working-directory: ide
      - run: xvfb-run -a npm test -- install --zip=../target/debug/x86_64-unknown-linux-gnu.zip
        working-directory: ide
      - run: xvfb-run -a npm test
        working-directory: ide